<footer>
  <nav class="main">
    <a href="/syncbase">Syncbase</a>
    <a href="/core.html">Vanadium Core</a>
    <a href="/community/contributing.html">Community</a>
    <a href="/tos.html">Terms of service</a>
    <a target="_blank" href="https://github.com/vanadium/issues/issues/">File a Bug</a>
  </nav>

  <nav class="social">
    <a href="https://github.com/vanadium" class="icon-github"></a>
  </nav>
</footer>
