<header class="mdl-shadow--2dp">
  <div class="row">
    <div class="icon menu"><i class="material-icons">menu</i></div>
    <div class="icon v-icon"><img src="/images/v-icon-white.svg"></div>
    <div class="logo"><a href="/">Vanadium</a></div>
    <div class="spacer"></div>
    <nav>
      <a href="/">Overview</a>
      <a href="/installation/">Installation</a>
      <a href="/tutorials/hello-world.html">Tutorials</a>
    </nav>
  </div>
</header>
