{{# page.prerequisites }}
<div class="prerequisites">
  {{# helpers.info }}

  __Prerequisites__:<br>
  All Java tutorials require Java and <a href="http://gradle.org/">Gradle</a>.

  {{/ helpers.info }}
</div>
{{/ page.prerequisites }}
