<!DOCTYPE html>
<html>
  {{> partials/head }}
  <body>
    {{> partials/header }}
    {{> partials/sidebar }}
    <main>
      <h1 class="title">
        {{# page.fullTitle }}{{ page.fullTitle }}{{/ page.fullTitle }}
        {{^ page.fullTitle }}{{ page.title }}{{/ page.fullTitle }}
      </h1>

      {{# page.toc }}
      <div class="toc"></div>
      {{/ page.toc }}

      {{{ yield }}}
    </main>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59720824-6', 'auto');
        ga('send', 'pageview');
    </script>
  </body>
</html>
