<!DOCTYPE html>
<html>
  {{> partials/head }}
  <body>
    {{> partials/header }}
    {{> partials/sidebar }}
    <main>
      <h1 class="title">
        {{# page.fullTitle }}{{ page.fullTitle }}{{/ page.fullTitle }}
        {{^ page.fullTitle }}{{ page.title }}{{/ page.fullTitle }}
      </h1>

      {{# page.wherein }}
      <p class="wherein"><strong>Wherein</strong> {{ page.wherein }}</p>
      {{/ page.wherein }}

      {{# page.toc }}
      <div class="toc"></div>
      {{/ page.toc }}

      {{> partials/java_tut_prereqs }}

      {{{ yield }}}
    </main>
    {{> partials/previous_next }}
  </body>
</html>
