/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

/* https://www.google.com/design/spec/style/color.html */
@color-amber-50: #fff8e1;
@color-blue-grey-50: #eceff1;
@color-blue-grey-100: #cfd8dc;
@color-blue-grey-500: #607d8b;
@color-blue-grey-800: #37474f;
@color-grey-100: #f5f5f5;
@color-white: #ffffff;

@color-text-primary: rgba(0, 0, 0, 0.87);
@color-text-secondary: rgba(0, 0, 0, 0.54);

@color-white-text-primary: rgba(255, 255, 255, 1);
@color-white-text-secondary: rgba(255, 255, 255, 0.7);

@header-height: 64px;
@main-max-width: 40em;
@pre-width: 48em;
@sidebar-width: 16em;
@icon-size: 48px;

@gutter: 32px;
@gutter-half: 16px;
@gutter-quarter: 8px;

@small-screen: ~"(max-width: 800px)";
