/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

@import "constants";

.intro-detail {
  margin: 28px 0;
  padding-left: 80px;
  background-repeat: no-repeat;
  background-size: 60px;
}

.intro-detail-offline {
  background-image: url(/images/offline.svg);
}

.intro-detail-security {
  background-image: url(/images/security.svg);
}

.intro-detail-codebase {
  background-image: url(/images/codebase.svg);
}

.intro-detail-discovery {
  background-image: url(/images/discovery.svg);
}